# <font color='maroon'>Data wrangling with Pandas</font>

In this lesson we learn how to load data into a tabular data structure called a dataframe. The dataframe is provided by the Pandas library. Pandas is built on top of the Numpy library. In this notebook we'll study the attributes of a dataframe and the functions you can perform on a dataframe. Run the cells as you go along to see the output of the code given. Read through the code to check if you understand what it's doing.

## What is a Pandas dataframe?

In order to manipulate data via Python, we need to store it somewhere. Python provides the Pandas library, which provides dataframes to store data that comes from different file types. A dataframe lets us store information in tabular form (as you might do in Excel) and perform more complicated operations on this information. For example, it’s possible to select a subset of the data based on the values in a particular column, add new columns, combine two dataframes into one larger dataframe and so on. Columns can be given names, and rows can be given an explicit index, to allow us to access a particular piece of information.

Pandas includes other data structures as well, which we may go into later. A more detailed explanation of Pandas is available here: pandas: [powerful Python data analysis toolkit](https://pandas.pydata.org/pandas-docs/stable/). For now, let’s look at how we can get data into a dataframe and start working with it.

## Loading a file into a Pandas dataframe

Before even loading data into your workspace, it is important to have the right tools to allow you to load and manipulate the data. In the LMS, you had a glance at Numpy, Pandas and Matplotlib among others. These are modules or collections of code organized into an easy-to-maintain format for specific purposes you looked at. An entire module can be imported or only parts of it.

To import the entire module, the code below can be used. Notice both have a standard alias widely used by Python users. To read more on this, there is additional reading provided in the LMS referring to Importing Modules.

In [108]:
import numpy as np #imports Numpy using a standard alias, np
import pandas as pd #imports Pandas using a standard alias, pd
import random
import os

Include matplotlib inline. This allows the output of cells with plotting commands to appear directly below their input cells and be stored with/embedded in the notebook.

In [109]:
%matplotlib inline

### The dataset

We use data from the [UCI Machine Learning repository](http://archive.ics.uci.edu/ml/datasets/Airfoil+Self-Noise#). This is NASA data on different-sized NACA 0012 airfoils tested at various wind tunnel speeds and angles of attack. The span of the airfoil and the observer position were the same in all of the experiments. According to the UCI Machine Learning site, the problem has the following inputs:
1. Frequency, in Hertzs.
2. Angle of attack, in degrees.
3. Chord length, in meters.
4. Free-stream velocity, in meters per second.
5. Suction side displacement thickness, in meters.

The only output is:
6. Scaled sound pressure level, in decibels. 


First open the file and investigate the headings in the column and the separator used to separate columns. We observe the columns have no headings, so when we use Pandas to load the file into a dataframe, we provide the names of the columns using the information given above.

In [64]:
data = pd.read_csv('airfoil_self_noise.dat', #name of file
                   sep='\t',  # how columns are separated
                   names = ['Freq(Hz)', 'Angle(deg)', 'Chord_length(m)', 'Velocity(ms)', 'Thickness(m)', 'Pressure(dec)'])

See the column headings.

In [65]:
data.columns

Index(['Freq(Hz)', 'Angle(deg)', 'Chord_length(m)', 'Velocity(ms)',
       'Thickness(m)', 'Pressure(dec)'],
      dtype='object')

Pandas allows you to load a comma separated file as a dataframe.

In [66]:
type(data) # make sure you've created a Dataframe

pandas.core.frame.DataFrame

Use the `info()` function to get information about the data types.

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 6 columns):
Freq(Hz)           1503 non-null int64
Angle(deg)         1503 non-null float64
Chord_length(m)    1503 non-null float64
Velocity(ms)       1503 non-null float64
Thickness(m)       1503 non-null float64
Pressure(dec)      1503 non-null float64
dtypes: float64(5), int64(1)
memory usage: 70.6 KB

Note: there is a function `astype()` to change data types to other types. Let's change one of the int types to a float.

In [68]:
data['Freq(Hz)'].astype('float')

0        800.0
1       1000.0
2       1250.0
3       1600.0
4       2000.0
         ...
1498    2500.0
1499    3150.0
1500    4000.0
1501    5000.0
1502    6300.0
Name: Freq(Hz), Length: 1503, dtype: float64

### Indexing a dataframe

We may want to set a column index to make access to data points easier.

In [69]:
data.index

RangeIndex(start=0, stop=1503, step=1)

Suppose we set the Freq(Hz) column as the index.

In [70]:
data.set_index('Freq(Hz)', inplace=True)

What happens when you check the data index again?

In [71]:
data.index #write your code here to check data index

Int64Index([ 800, 1000, 1250, 1600, 2000, 2500, 3150, 4000, 5000, 6300,
            ...
             800, 1000, 1250, 1600, 2000, 2500, 3150, 4000, 5000, 6300],
           dtype='int64', name='Freq(Hz)', length=1503)

In [72]:
data.iloc[4,:] #you can also check you data after setting index using the command below

Angle(deg)           0.000000
Chord_length(m)      0.304800
Velocity(ms)        71.300000
Thickness(m)         0.002663
Pressure(dec)      127.461000
Name: 2000, dtype: float64

### Descriptive information

Let's find out more about the data.

The size of the dataset, or the number of rows and columns in the dataframe, is given by:

In [73]:
data.shape

(1503, 5)

Find out more about the dataset attributes -- the types of the information in the dataset.

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1503 entries, 800 to 6300
Data columns (total 5 columns):
Angle(deg)         1503 non-null float64
Chord_length(m)    1503 non-null float64
Velocity(ms)       1503 non-null float64
Thickness(m)       1503 non-null float64
Pressure(dec)      1503 non-null float64
dtypes: float64(5)
memory usage: 110.5 KB

See the names of all the columns in the data.

In [75]:
data.columns

Index(['Angle(deg)', 'Chord_length(m)', 'Velocity(ms)', 'Thickness(m)',
       'Pressure(dec)'],
      dtype='object')

To get a small view of the data, type

In [76]:
data.head()

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
800,0.0,0.3048,71.3,0.002663,126.201
1000,0.0,0.3048,71.3,0.002663,125.201
1250,0.0,0.3048,71.3,0.002663,125.951
1600,0.0,0.3048,71.3,0.002663,127.591
2000,0.0,0.3048,71.3,0.002663,127.461

In [77]:
data.tail()

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
2500,15.6,0.1016,39.6,0.052849,110.264
3150,15.6,0.1016,39.6,0.052849,109.254
4000,15.6,0.1016,39.6,0.052849,106.604
5000,15.6,0.1016,39.6,0.052849,106.224
6300,15.6,0.1016,39.6,0.052849,104.204

You can view the data in different ways.

In [78]:
data.transpose()#You can view the data in different ways.

Freq(Hz),800,1000,1250,1600,2000,2500,3150,4000,5000,6300,...,800,1000,1250,1600,2000,2500,3150,4000,5000,6300
Angle(deg),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000
Chord_length(m),0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,...,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600
Velocity(ms),71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,...,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000
Thickness(m),0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,...,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849
Pressure(dec),126.201000,125.201000,125.951000,127.591000,127.461000,125.571000,125.201000,123.061000,121.301000,119.541000,...,118.964000,119.224000,118.214000,114.554000,110.894000,110.264000,109.254000,106.604000,106.224000,104.204000

You can also produce summary statistics of the data as follows:

In [79]:
data.describe() #You can also produce summary statistics of the data as follows:

        Angle(deg)  Chord_length(m)  Velocity(ms)  Thickness(m)  Pressure(dec)
count  1503.000000      1503.000000   1503.000000   1503.000000    1503.000000
mean      6.782302         0.136548     50.860745      0.011140     124.835943
std       5.918128         0.093541     15.572784      0.013150       6.898657
min       0.000000         0.025400     31.700000      0.000401     103.380000
25%       2.000000         0.050800     39.600000      0.002535     120.191000
50%       5.400000         0.101600     39.600000      0.004957     125.721000
75%       9.900000         0.228600     71.300000      0.015576     129.995500
max      22.200000         0.304800     71.300000      0.058411     140.987000

## Creating dataframes

### Selecting a column of the data

You can select a single column from the dataframe by name. When we select the `Pressure(dec)`, the function returns the index column along with the `Pressure` column.

In [80]:
data['Pressure(dec)']

Freq(Hz)
800     126.201
1000    125.201
1250    125.951
1600    127.591
2000    127.461
         ...
2500    110.264
3150    109.254
4000    106.604
5000    106.224
6300    104.204
Name: Pressure(dec), Length: 1503, dtype: float64

In [81]:
type(data['Pressure(dec)'])

pandas.core.series.Series

In [82]:
type(data['Chord_length(m)'])

pandas.core.series.Series

Note the type of the column selected.

Suppose we want to see stats on a certain frequency. This is where the `index_col` argument is used. Using the function `Dataframe.loc` (here, Dataframe should be replaced with the name of the dataframe we created), we use a label from the index column to get all information related to the value.

In [83]:
data.loc[800, :]

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
800,0.0,0.3048,71.3,0.002663,126.201
800,0.0,0.3048,55.5,0.002831,128.086
800,0.0,0.3048,39.6,0.003101,129.099
800,0.0,0.3048,31.7,0.003313,129.235
800,1.5,0.3048,71.3,0.003367,127.122
...,...,...,...,...,...
800,12.3,0.1016,55.5,0.036823,125.114
800,12.3,0.1016,39.6,0.040827,122.315
800,12.3,0.1016,31.7,0.041876,120.037
800,15.6,0.1016,71.3,0.043726,124.188
800,15.6,0.1016,39.6,0.052849,118.964

To select any row, we can specify the row number and select it using the iloc function.

In [84]:
data.iloc[1, :]

Angle(deg)           0.000000
Chord_length(m)      0.304800
Velocity(ms)        71.300000
Thickness(m)         0.002663
Pressure(dec)      125.201000
Name: 1000, dtype: float64

In [85]:
data.transpose()

Freq(Hz),800,1000,1250,1600,2000,2500,3150,4000,5000,6300,...,800,1000,1250,1600,2000,2500,3150,4000,5000,6300
Angle(deg),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000,15.600000
Chord_length(m),0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,0.304800,...,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600,0.101600
Velocity(ms),71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,71.300000,...,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000,39.600000
Thickness(m),0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,0.002663,...,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849,0.052849
Pressure(dec),126.201000,125.201000,125.951000,127.591000,127.461000,125.571000,125.201000,123.061000,121.301000,119.541000,...,118.964000,119.224000,118.214000,114.554000,110.894000,110.264000,109.254000,106.604000,106.224000,104.204000

### Selecting certain data points from dataset

We can use the `Dataframe.loc` function, which accepts a label, to select a single observation point from the dataframe.

In [86]:
data.loc[:,'Thickness(m)',] # index value and thickness values returned

Freq(Hz)
800     0.002663
1000    0.002663
1250    0.002663
1600    0.002663
2000    0.002663
          ...
2500    0.052849
3150    0.052849
4000    0.052849
5000    0.052849
6300    0.052849
Name: Thickness(m), Length: 1503, dtype: float64

This is similar to using integer indices to select a single data point.In other words, .loc allows one to select columns based on column labels while .iloc can be used for position-based indexing.

In [87]:
data.iloc[:, 3]

Freq(Hz)
800     0.002663
1000    0.002663
1250    0.002663
1600    0.002663
2000    0.002663
          ...
2500    0.052849
3150    0.052849
4000    0.052849
5000    0.052849
6300    0.052849
Name: Thickness(m), Length: 1503, dtype: float64

### Selecting a subset with slicing

Suppose you are only interested in a subset of the data.

In [88]:
data = data.sort_index() # sort the data according to the index

In [89]:
data.head()

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
200,7.3,0.2286,31.7,0.013267,128.679
200,9.9,0.1524,39.6,0.023333,127.315
200,0.0,0.3048,39.6,0.003101,118.129
200,9.5,0.0254,39.6,0.004498,116.074
200,8.9,0.1016,39.6,0.012460,133.420

Use the : operator to select rows and columns. For example, 
    
    loc[:,:] or simply [:,:] returns the whole dataset. The comma separates the rows and columns
    iloc[:,2] returns all the rows in the 3rd column.
    iloc[:, 1:3] returns all the rows in column 1, 2 and 3.

In [90]:
data.loc[:,:] # loc[:,:] or simply [:,:] returns the whole dataset. The comma separates the rows and columns

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
200,7.3,0.2286,31.7,0.013267,128.679
200,9.9,0.1524,39.6,0.023333,127.315
200,0.0,0.3048,39.6,0.003101,118.129
200,9.5,0.0254,39.6,0.004498,116.074
200,8.9,0.1016,39.6,0.012460,133.420
...,...,...,...,...,...
20000,4.8,0.0254,55.5,0.000873,121.284
20000,4.8,0.0254,71.3,0.000849,119.708
20000,0.0,0.0254,55.5,0.000412,121.933
20000,0.0,0.0254,71.3,0.000401,123.217
20000,4.0,0.2286,71.3,0.004006,109.638

In [91]:
data.iloc[:, 1:3] #iloc[:, 1:3] returns all the rows in column 1, 2 and 3.

          Chord_length(m)  Velocity(ms)
Freq(Hz)
200                0.2286          31.7
200                0.1524          39.6
200                0.3048          39.6
200                0.0254          39.6
200                0.1016          39.6
...                   ...           ...
20000              0.0254          55.5
20000              0.0254          71.3
20000              0.0254          55.5
20000              0.0254          71.3
20000              0.2286          71.3

[1503 rows x 2 columns]

In [92]:
data.loc[200:800, :]           # return all columns with index row entries between 200 and 800 Hz

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
200,7.3,0.2286,31.7,0.013267,128.679
200,9.9,0.1524,39.6,0.023333,127.315
200,0.0,0.3048,39.6,0.003101,118.129
200,9.5,0.0254,39.6,0.004498,116.074
200,8.9,0.1016,39.6,0.012460,133.420
...,...,...,...,...,...
800,0.0,0.3048,31.7,0.003313,129.235
800,0.0,0.3048,39.6,0.003101,129.099
800,4.0,0.2286,55.5,0.004286,131.864
800,4.0,0.2286,71.3,0.004006,130.688
800,3.0,0.3048,71.3,0.004257,129.494

In [93]:
data.loc[:200,:] # return all columns with Frequency = 200

,Angle(deg),Chord_length(m),Velocity(ms),Thickness(m),Pressure(dec)
Freq(Hz),,,,,
200,7.3,0.2286,31.7,0.013267,128.679
200,9.9,0.1524,39.6,0.023333,127.315
200,0.0,0.3048,39.6,0.003101,118.129
200,9.5,0.0254,39.6,0.004498,116.074
200,8.9,0.1016,39.6,0.012460,133.420
200,9.5,0.0254,31.7,0.004614,119.146
200,12.3,0.1016,39.6,0.040827,128.545
200,7.3,0.2286,39.6,0.012348,130.989
200,9.9,0.1524,71.3,0.019300,134.319
200,17.4,0.0254,71.3,0.016104,112.506
200,12.3,0.1016,55.5,0.036823,132.304
200,17.4,0.0254,55.5,0.016571,109.951
200,0.0,0.3048,31.7,0.003313,117.195
200,17.4,0.0254,39.6,0.017221,114.044
200,17.4,0.0254,31.7,0.017663,116.146
200,22.2,0.0254,39.6,0.022903,116.066
200,12.3,0.1016,71.3,0.033779,130.588
200,7.3,0.2286,71.3,0.010440,138.758
200,7.3,0.2286,55.5,0.011171,135.234
200,8.9,0.1016,71.3,0.010309,133.503
200,12.3,0.1016,31.7,0.041876,124.987
200,19.7,0.0508,39.6,0.036484,125.974
200,9.9,0.1524,55.5,0.020844,131.955
200,15.4,0.0508,55.5,0.027193,122.940
200,11.2,0.0508,39.6,0.015048,125.010
200,12.6,0.1524,71.3,0.048316,128.354
200,15.4,0.0508,71.3,0.026427,123.595
200,15.6,0.1016,39.6,0.052849,123.514
200,9.9,0.1524,31.7,0.025278,127.299
200,15.4,0.0508,39.6,0.028259,121.783
200,11.2,0.0508,71.3,0.014072,125.941
200,15.6,0.1016,71.3,0.043726,130.898
200,12.6,0.1524,39.6,0.058411,114.750
200,15.4,0.0508,31.7,0.028985,119.975
200,19.7,0.0508,71.3,0.034118,118.005

### Exercise

For all the questions below, write your code and comments to define your approach in a way that another user can understand your choices.

Question one: 
With the `Dataframe.ix` function, you can select the columns you would like to return. Select two columns, namely `Velocity(m)` and `Pressure(dec)`. Display the velocity and pressure for frequencies 200 and 800.

In [94]:
#data...
#data.ix[rows,cols]
data.ix[[200,800],[2,4]]
#data.ix[:,"Velocity(ms)","Pressure(dec)"]]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

          Velocity(ms)  Pressure(dec)
Freq(Hz)
200               31.7        128.679
200               39.6        127.315
200               39.6        118.129
200               39.6        116.074
200               39.6        133.420
...                ...            ...
800               31.7        129.235
800               39.6        129.099
800               55.5        131.864
800               71.3        130.688
800               71.3        129.494

[132 rows x 2 columns]

Question two:Using Dataframe.ix, select the first 5 entries of the dataframe for the Angle (deg) column. Use comments to explain how it works (or does not if appropriate)

In [107]:
#data...
#data.ix[rows,cols]
data.ix[[200],[0]]
#data.ix[1:5,"Angle(deg)"]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

          Angle(deg)
Freq(Hz)
200              7.3
200              9.9
200              0.0
200              9.5
200              8.9
200              9.5
200             12.3
200              7.3
200              9.9
200             17.4
200             12.3
200             17.4
200              0.0
200             17.4
200             17.4
200             22.2
200             12.3
200              7.3
200              7.3
200              8.9
200             12.3
200             19.7
200              9.9
200             15.4
200             11.2
200             12.6
200             15.4
200             15.6
200              9.9
200             15.4
200             11.2
200             15.6
200             12.6
200             15.4
200             19.7

Question three: Select the 3rd column of the entries between the 100th to the 250th  inclusive without using the column label. Comment your code to indicate why you chose each command used.

In [101]:
# your input
#index into the dataframe and return all entries with frequencies between 1000 and 10000Hz, for the Velocity column 
data.ix[[1000,10000],[2]]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

          Velocity(ms)
Freq(Hz)
1000              31.7
1000              71.3
1000              31.7
1000              31.7
1000              39.6
...                ...
10000             31.7
10000             71.3
10000             39.6
10000             71.3
10000             39.6

[141 rows x 1 columns]